<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Template • TodoMVC</title>
  <!-- <link rel="stylesheet" href="node_modules/todomvc-common/base.css"> -->
  <link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
  <!-- CSS overrides - remove if you don't need it -->
  <link rel="stylesheet" href="css/app.css">
</head>

<body ng-app="TodoApp">
  <section class="todoapp" ng-controller="MainController">
    <header class="header">
      <h1>todos</h1>
      <form ng-submit="add()">
        <input class="new-todo" placeholder="What needs to be done?" autofocus ng-model="input">
      </form>
    </header>
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <input class="toggle-all" type="checkbox" ng-model="checkedAll" ng-click="allCompleted()">
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <!-- These are here just to show the structure of the list items -->
        <!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
        <li auto-focus ng-repeat="todo in todos | filter : filterData track by $index" ng-class="{completed: todo.completed, editing: currentEditingId === todo.id}">
          <div class="view">
            <input class="toggle" type="checkbox" ng-model="todo.completed">
            <label ng-dblclick="edit(todo)">{{todo.text}}</label>
            <button class="destroy" ng-click="remove(todo)"></button>
          </div>
          <form ng-submit="save()">
            <input class="edit" type="text" ng-blur="save()" ng-model="todo.text">
          </form>
        </li>
      </ul>
    </section>
    <!-- This footer should hidden by default and shown when there are todos -->
    <footer class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"><strong>{{todos.length}}</strong> item left</span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a ng-class="{selected: filterData.completed == undefined}" href="#/">All</a>
        </li>
        <li>
          <a ng-class="{selected: filterData.completed == false}" href="#/active">Active</a>
        </li>
        <li>
          <a ng-class="{selected: filterData.completed == true}" href="#/completed">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed" ng-click="clearCompleted()" ng-show="hasCompleted()">Clear completed</button>
    </footer>
  </section>
  <footer class="info">
    <p>双击一个任务去编辑它</p>
    <!-- Remove the below line ↓ -->
    <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>Created by <a href="http://todomvc.com">you</a></p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
  </footer>
  <script src="node_modules/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/service.js"></script>
  <script src="js/directive.js"></script>
</body>

</html>
