/* 常用类名 */
html,body{
  height: 100%;
}
.bold{
  font-weight: bold;
}
.center{
  text-align: center;
}
.hide{
  display: none;
}
.show{
  display: block;
}
.pointer{
  cursor: pointer;
}
.underline{
  text-decoration: underline;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
